/*-----------------Start information Web----------------- */
.top-social-info {
  position: absolute;
  right: 20px;
  bottom: 22px;
  z-index: 99;
}
.top-social-info > a {
  cursor: pointer;
}
.top-social-info > a > i {
  font-size: 1.3em;
  color: #00fcff;
  cursor: pointer;
  padding:0 20px;
  position: relative;
}
.top-social-info > a > i:hover{
  transform:scale(1.1);
  color:#df4f89;
}
/*-----------------End information----------------- */

/* -----------------Start Menu------------ */
.Header-Conntent .ground-menu {
  position: relative;
 
}
.Header-Conntent .ground-menu.active {
  position: fixed !important;
  width: 100% !important;
  left: 0;
  top: 0;
  opacity: 1;
  background: #2b2b31;
  z-index: 100;
  border-bottom: 2px solid #353748;
}
.Header-Conntent .ground-menu .Khung-Menu {
  max-width: 1100px;
  margin: auto;
  z-index: 100;
}
.Header-Conntent nav {
  position: relative;
  display: block;
}

.Header-Conntent nav ul.menu-one {
  display: flex;
}
.Header-Conntent .toggle-menu {
  width: 50px;
  height: 6px;
  background: white;
  border-radius: 5px;
  position: absolute;
  display: inline-block;
  cursor: pointer;
  z-index: 1000;
}

.Header-Conntent nav > ul.menu-one > li {
  padding: 25px 20px;
  position: static;
  display: block;
  clear: both;
}
.Header-Conntent nav ul.menu-one > li:hover > a,
.Header-Conntent nav ul.menu-two li:hover a,
.Header-Conntent nav ul.menu-one > li:hover span.fa-caret-down {
  color: #df4f89;
}
.Header-Conntent nav ul.menu-one > li:hover ul.menu-two {
  opacity: 1;
  pointer-events: auto;
}
.Header-Conntent nav ul.menu-one > li:hover ul.menu-two {
  transform: translateY(0px);
}
.Header-Conntent nav ul.menu-one > li > a {
  color: rgba(255,255,255,.75);
  text-transform: uppercase;
  font-size: 17px;
  position: relative;
  display: block;
}
.Header-Conntent nav ul.menu-one > li > a.active{
  color: #df4f89;
}
.Header-Conntent nav ul.menu-two {
  position: absolute;
  max-width: 1100px;
  display: flex;
  flex-wrap: wrap;
  z-index: 101;
  opacity: 0;
  pointer-events: none;
  top: 100%;
  left: 0;
  background-color: #28282d;
  border-radius: 5px;
  padding: 20px 10px;
  transform: translateY(20px);
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
  height: auto;
}
.Header-Conntent nav ul.menu-two li {
  position: relative;
  height: 40px;
  width: 215px;
  line-height: 40px;
  font-size: 16px;
}
.Header-Conntent nav > ul.menu-one > li > a > span.fa-caret-down {
  position: relative;
}
.Header-Conntent nav > ul.menu-one > li.active > a > span.fa-caret-down {
  transform: rotate(180deg);
}
.Header-Conntent nav ul.menu-two li a {
  color: rgba(255,255,255,.75);
  font-weight: 500;
  text-transform: capitalize;
}

/* -----------------End Menu------------ */

/* --------------------------------------------Responsive-------------------------------------------- */

@media screen and (max-width: 1024px) {
  .top-social-info{
    left: 20px !important;
    right: auto;
  }
  .Khung-Menu {
    transition-duration: 500ms;
    padding: 0;
    left: -300px;
    top: 0;
    position: fixed;
    display: block;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #2f3640;
    width: 300px;
    height: 100%;
  }
  .Khung-Menu.open-menu {
    left: 0;
  }
  .Header-Conntent nav {
    position: relative;
    display: block;
    margin-top: 70px;
  }
  .classycloseIcon {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 12;
    display: block;
  }
  .classycloseIcon .cross-wrap {
    width: 26px;
    height: 26px;
    cursor: pointer;
    position: relative;
  }
  .classycloseIcon .cross-wrap span {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 6px;
    background: #ffffff;
  }
  .classycloseIcon .cross-wrap span.top {
    top: 12px;
    left: 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .classycloseIcon .cross-wrap span.bottom {
    bottom: 12px;
    left: 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  nav .menu-one {
    flex-direction: column;
  }
  .Header-Conntent nav > ul.menu-one > li {
    padding: 0;
    text-align: left;
    position: relative;
  }
  .Header-Conntent nav > ul.menu-one > li > a {
    padding-left: 15px;
    display: block;
    border-bottom: 1px solid #2f3640;
    padding:10px;
  }
  .Header-Conntent nav > ul.menu-one > li > a > span.fa-caret-down {
    position: absolute;
    right: 12px;
  }
  .Header-Conntent nav > ul.menu-one > li ul.menu-two {
    pointer-events: auto;
    text-align: center;
    position: relative !important;
    top: 0;
    left: 0;
    transform: translateY(0px);
    padding: 5px;
    background-color: #2f3640;
    overflow: hidden;
    display: block;
    visibility: hidden;
    opacity: 0;
    max-height: 0;
  }
  .Header-Conntent nav > ul.menu-one > li.active ul.menu-two {
    max-height: 1000px;
    /* transition: ; */
    opacity: 1;
    visibility: visible;
  }

  .Header-Conntent nav > ul.menu-one > li ul.menu-two li {
    display: block;
    padding: 0;
    width: auto;
    height:auto;
    padding:4px 0;
    border-bottom: 1px solid #4e4e4e56;
  }
  .Header-Conntent nav > ul.menu-one > li span.dd-trigger {
    position: absolute;
    width: 100%;
    height: 35px;
    left: 0;
    top: 0;
  }

  .Header-Conntent nav ul.menu-one > li:hover > a,
  .Header-Conntent nav ul.menu-one > li:hover span.fa-caret-down {
    color: #00fcff;
    transform: scale(1);
  }

  /* ---------------- Sart Toggle Menu ----------- */

  .Header-Conntent .ground-menu.active .classy-navbar-toggler {
    background: #2b2b31;
  }
  .ground-menu .classy-navbar-toggler {
    display: block;
    position: relative;
    text-align: right;
    height: 70px;
    right: 0;
    display: block;
    text-align: right;
    height: 70px;
    width: 100%;
    right: 0;
  }
  .classy-navbar-toggler .navbarToggler {
    display: inline-block;
    cursor: pointer;
    right: 30px;
    top: 17px;
    position: relative;
  }
  .classy-navbar-toggler .navbarToggler span {
    position: relative;
    background-color: #858585;
    border-radius: 3px;
    display: block;
    height: 3px;
    margin-top: 5px;
    padding: 0;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
    width: 30px;
    cursor: pointer;
  }
  .classy-navbar-toggler .navbarToggler.active span:nth-child(2) {
    opacity: 0;
  }
  .classy-navbar-toggler .navbarToggler.active span:nth-child(1) {
    transform: rotate(45deg);
  }
  .classy-navbar-toggler .navbarToggler.active span:nth-child(3) {
    transform: rotate(-45deg);
    top: -15px;
  }
  /* ----------------End Toggle Menu ----------- */
}

@media screen and (max-width:480px){
  .Header-Conntent nav ul.menu-one > li > a{
    font-size:15px;
  }
  .Header-Conntent nav ul.menu-two li a {
    font-size:14px;
  }
}