.grounp-or-login {
    padding: 10px 0;
}
.grounp-or-login .item-width-login button {
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 2px;
    margin: 0 7px;
}
.grounp-or-login .item-width-login button.facebook {
    background: #4267b2;
}
.grounp-or-login .item-width-login button.google {
    background: #d6220a;
}
.grounp-or-login .item-width-login button.twitter {
    background: #1c9dec;
}
.grounp-or-login .item-width-login button i {
    font-size: 18px;
    width: 35px;
    height: 35px;
    line-height: 35px;
}
.grounp-or-login .item-width-login button i.fa-facebook-f {
    color: white;
}
.grounp-or-login .item-width-login button i.fa-twitter,
.grounp-or-login .item-width-login button i.fa-google {
    color: white;
}
@media screen and (max-width: 650px) {
    .grounp-or-login .item-width-login button i {
        font-size: 16px;
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
}

@media screen and (max-width:380px){
    .grounp-or-login .item-width-login button i {
        font-size: 13px;
        width: 25px;
        height: 25px;
        line-height: 25px;
    }
}